html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 24px;
    font-size: 125%;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.search-area {
    display: flex;
    gap: 4px;
    justify-content: center;
    position: relative;
}

.container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    min-width: 15%;
    background-color: black;
    min-height: 30vh;
    padding: 36px;
    gap: 2px;
}

.location {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 4px;
}

.temp {
    font-weight: bold;
}

button#search > img {
    width: 16px;
}

button#search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.humidity, .date {
    margin-top: 16px;
}

#unit-switch, button#search {
    border: 1px solid rgb(145, 145, 145);
    border-radius: 4px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
}

#unit-switch:hover, button#search:hover {
    background-color: #e7e7e7;
}